*{
    margin: 0;
    overflow: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
    border: solid 4px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 10px;
}

main{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 4vh;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

header h1{
    margin-bottom: 3vh;
    font-size: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.dates{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.change_description{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: left;
}

.gray_font_dates{
    display: inline;
    margin-right: 10px;
    color: gray;
}

.gray_font{
    color: gray;
}

.black_font_content{
    display: inline;
    margin-left: 10px;
    font-weight: bold;
}

button{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    outline-style: none;
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
    position: relative;
    &:before{
        content:"";
        display: inline-block;
        width: 3px;
        background: black;
        position: absolute;
        left:3px;
        top:5px;
        height: calc(100% - 10px );
    }
    li{
      position: relative;
      padding-left: 15px;
      margin-bottom:15px;
      padding-bottom: 10px;
      &:before{
        content:"";
        display: inline-block;
        width: 9px;
        height: 9px;
        background: black;
        position: absolute;
        left:0;
        top:5px;
        border-radius: 10px;
      }
    }
}

#display_none{
    &::before{
        display: none;
    }
    li{
        &::before{
            display: none;
        }
    }
}