*{
    margin: 0;
    overflow: 0;
    background-color: #000000;
    color: #ffffff;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    border: solid 4px;
    box-sizing: border-box;
    border-radius: 20px;
}

main{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 4vh;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

header h1{
    margin-bottom: 3vh;
    font-size: 50px;
}

.vertical_line{
  border-left:3px solid yellow;
  height: 100%;
  left: 50%;
  margin-left: -3px;
  top: 40%;
  bottom: -40%;
}

.container{
    display: flex;
    flex-direction: row;
}

.dates{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.change_description{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: left;
}

.dates, .vertical_line, .change_description{
    margin-right: 3vw;
}

.gray_font_dates{
    display: inline;
    margin-bottom: 4.5vh;
    color: gray;
}

.black_font_content{
    display: inline;
    margin-bottom: 4.5vh;
    font-weight: bold;
}

button{
    padding: 10px;
    border-radius: 10px;
    outline-style: none;
}